BussinessObject/obj/Debug/net8.0/BussinessObject.AssemblyInfo.cs
Repository/obj/Debug/net8.0/Repository.AssemblyInfo.cs
Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
WpfApp/obj/Debug/net8.0-windows/WpfApp.AssemblyInfo.cs
